nav{

  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 
 ul{
  display:block;
  flex-direction: column;
 }
 
 li{
  text-decoration: none;
  color:#fff;
  padding:.5rem;
  letter-spacing: 2px;
  display: block;
 }
 
 a{
  display: inline-block;
  text-decoration: none;
  color:#fff
 }
 
  li a:hover{
  color:#ddd;
  transition: all .2s ease-in;
 }
 