html{
  box-sizing: border-box;
  font-size:16px;
  font-family: sans-serif;
  color:#fff
 }
 
 *,
 *:after,
 *::before{
  box-sizing: inherit;
 }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}

h1{
  letter-spacing: 1rem;
  padding: 1rem;
}


h2{
color:#61dafb;
 display:inline-block;
 margin-left: 1rem;
 letter-spacing: 1rem;
} 

h3{
  letter-spacing: 0.5rem;
}

h4{
  letter-spacing: .2rem;
}


input[type=text]:focus{
  
  border-color: #fff;
}

div{
  border-radius: .25rem;
}